<!-- bootstrap css를 전부 여기에 로드해줌 -->
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Article</title>
</head>
<body>
  <div class="container">
    {% if user.is_authenticated %}
      <p>안녕! {{ user.username }}</p>
      <a href="{% url 'accounts:logout' %}">로그아웃</a>
      <form action="{% url 'accounts:delete' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="회원탈퇴" class="btn btn-danger">
      </form>
    {% else %}
      <a href="{% url 'accounts:login' %}">로그인</a>
      <a href="{% url 'accounts:signup' %}">회원가입</a>
    {% endif %}
    
    {% block body %}
    {% endblock %}
  </div>
</body>
</html>