{% extends 'base.html' %}
{% block style %}
<style>
    p {
      margin: 0;
    }
    .box {
      display: flex;
      justify-content: start;
    }
    .ball {
      margin: 10px;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-content: center;
    }
    .b1 {
      border: 1px solid gold;
      background-color: gold;
    }
    .b2 {
      border: 1px solid orangered;
      background-color: orangered;
    }
    .b3 {
      border: 1px solid cornflowerblue;
      background-color: cornflowerblue;
    }
    .b4 {
      border: 1px solid seagreen;
      background-color: seagreen;
    }
    .b5 {
      border: 1px solid yellowgreen;
      background-color: yellowgreen;
    }
    .numbers {
      line-height: 30px;
      color: white;
    }
  </style>
{% endblock %}

{% block body %}
<div class="box">
    {% for num in lotto %}
      {% if num > 40 %}
        <div class="ball b5">
          <p class="numbers">{{ num }}</p>
        </div>
      {% elif num > 30 %}
        <div class="ball b4">
          <p class="numbers">{{ num }}</p>
        </div>
      {% elif num > 20 %}
        <div class="ball b3">
          <p class="numbers">{{ num }}</p>
        </div>
      {% elif num > 10 %}
        <div class="ball b2">
          <p class="numbers">{{ num }}</p>
        </div>
      {% else %}
        <div class="ball b1">
          <p class="numbers">{{ num }}</p>
        </div>
      {% endif %}
    {% endfor %}
    </div>
{% endblock %}


