{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
<div class="container">
    <h1>새글쓰기</h1>
    <!-- <form action="{% url 'articles:create' %}" method="POST">
        {% csrf_token %}
      제목: <input type="text" name='title'>
      내용: <textarea name="content"></textarea>
      <button type="submit">제출</button>
    </form> -->
    
    <h2>Form 클래스를 통한 HTML Form 생성</h2>
    <form action="{% url 'articles:create' %}" method="POST">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {% bootstrap_form form %}
      <button type="submit">제출</button>
    </form>
    <br>
    <a href="{% url 'articles:index' %}">홈으로</a>
</div>
{% endblock %}