{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
<h1>상세페이지</h1>
<h4>{{ article.title }}</h4>
<p>{{ article.pk }}</p>
<p>{{ article.content }}</p>
<p>{{ article.user.first_name }}</p>
<p>{{ article.created_at|date:"Y년 M j일" }}</p>
<p>{{ article.updated_at|date:"SHORT_DATE_FORMAT" }}</p>
<!-- <p>{{ article.updated_at|date:"Y년 M j일" }}</p> -->
<a href="{% url 'articles:index' %}">홈으로</a>

<br>
{% if article.user == request.user %}
  <a href="{% url 'articles:update' article.pk %}">수정</a>
  <!-- a 태그는 기본적으로 get으로 보냄 -->
  <!-- <a href="{% url 'articles:delete' article.pk %}">삭제</a> -->
  <!-- POST로 보내기 위해선 form을 만들면 됨 -->
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제">
  </form>
{% endif %}

{% if user.is_authenticated %}
<form action="{% url 'articles:create_comment' article.pk %}" method='POST'>
  {% csrf_token %}
  {% bootstrap_form comment_form %}
  <input type="submit">
</form>
{% endif %}
<hr>
<h2>해시태그목록</h2>
<p>
  {% for hashtag in article.hashtags.all %}
    <strong>{{ hashtag }}</strong>
  {% endfor %}
</p>

<hr>
<p>좋아요 : <span id="like_count">{{ article.like_users.count }}</span>개</p>
<p>좋아하는 사람 :
{% with likers=article.like_users.all %}
  {% for liker in likers %}
     {{ liker }}
   {% endfor %}
</p>  
  {% if user.is_authenticated %}
    {% if user in article.like_users.all %}
      <button data-gogo="hello" data-name="cato" data-id="{{ article.pk }}" class='btn btn-secondary' id='like_button'>좋아요 취소</button>
    {% else %}
      <button data-gogo="hello" data-name="cato" data-id="{{ article.pk }}" class='btn btn-primary' id='like_button'>좋아요</button>
    {% endif %}      
  {% endif %}
{% endwith %}


<hr>
<h2>댓글목록</h2>
{% for comment in comments %}
  <p>{{ comment.user }} : {{ comment.content }}</p>
{% endfor %}

<script>
  // 좋아요 버튼을 클릭하면, 좋아요 DB를 업데이트 하고 버튼을 바꾼다. (addEventListener))
  const like_button = document.querySelector('#like_button')

  // 좋아요 버튼 GET으로 작동시키기
  // like_button.addEventListener('click', function(e) {
  //   // 좋아요 DB 업데이트 == articles/:id/like 요청을 보낸다.
  //   const article_id = e.srcElement.dataset.id
  //   axios.get(`/articles/${article_id}/like`)
  //       .then(response => {
  //         console.log(response.data)
  //         if (response.data.liked) {
  //           e.target.classList.remove('btn-primary')
  //           e.target.classList.add('btn-secondary')
  //           e.target.innerText = '좋아요 취소'
  //           document.querySelector('#like_count').innerText++
  //         }
  //         else {
  //           e.target.classList.remove('btn-secondary')
  //           e.target.classList.add('btn-primary')
  //           e.target.innerText = '좋아요'
  //           document.querySelector('#like_count').innerText--
  //         }
  //       })
    
  // })

  
  // // 좋아요 버튼 POST로 작동시키기
  // like_button.addEventListener('click', function(e) {
  //   // 좋아요 DB 업데이트 == articles/:id/like 요청을 보낸다.
  //   const article_id = e.srcElement.dataset.id
  //   // axios.defaults.xsrfCookieNmae = 'csrftoken'
  //   // axios.defaults.xsrfHeaderName = 'X-CSRFToken'
  //   // 두 번쨰 자리에 데이터를 넣어야 하고 세 번째 자리에 헤더 데이터가 들어간다.
  //   axios.post(`/articles/${article_id}/like/`, {}, {headers: {'X-CSRFToken': csrftoken}})
  //       .then(response => {
  //         console.log(response.data)
  //         if (response.data.liked) {
  //           e.target.classList.remove('btn-primary')
  //           e.target.classList.add('btn-secondary')
  //           e.target.innerText = '좋아요 취소'
  //           document.querySelector('#like_count').innerText++
  //         }
  //         else {
  //           e.target.classList.remove('btn-secondary')
  //           e.target.classList.add('btn-primary')
  //           e.target.innerText = '좋아요'
  //           document.querySelector('#like_count').innerText--
  //         }
  //       })
    
  // })
  // 버튼을 '좋아요 취소'로 바꾸는 것

  // POST로 보내기
  like_button.addEventListener('click', function(e) {
    // 좋아요 DB 업데이트 == articles/:id/like 요청을 보낸다.
    const article_id = e.srcElement.dataset.id
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = 'X-CSRFToken'
    // 두 번째 자리에 데이터를 넣어야 하고 세 번째 자리에 헤더 데이터가 들어간다.
    axios.post(`/articles/${article_id}/like/`)
        .then(response => {
          console.log(response.data)
          if (response.data.liked) {
            e.target.classList.remove('btn-primary')
            e.target.classList.add('btn-secondary')
            e.target.innerText = '좋아요 취소'
            document.querySelector('#like_count').innerText++
          }
          else {
            e.target.classList.remove('btn-secondary')
            e.target.classList.add('btn-primary')
            e.target.innerText = '좋아요'
            document.querySelector('#like_count').innerText--
          }
        })
    
  })

</script>
{% endblock %}