{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
<h1>상세페이지</h1>
<h4>{{ article.title }}</h4>
<p>{{ article.pk }}</p>
<p>{{ article.content }}</p>
<p>{{ article.created_at|date:"Y년 M j일" }}</p>
<p>{{ article.updated_at|date:"SHORT_DATE_FORMAT" }}</p>
<!-- <p>{{ article.updated_at|date:"Y년 M j일" }}</p> -->
<a href="{% url 'articles:index' %}">홈으로</a>
<br>
<a href="{% url 'articles:update' article.pk %}">수정</a>
<!-- a 태그는 기본적으로 get으로 보냄 -->
<!-- <a href="{% url 'articles:delete' article.pk %}">삭제</a> -->
<!-- POST로 보내기 위해선 form을 만들면 됨 -->
<form action="{% url 'articles:delete' article.pk %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="삭제">
</form>
<form action="{% url 'articles:create_comment' article.pk %}" method='POST'>
  {% csrf_token %}
  {% bootstrap_form comment_form %}
  <input type="submit">
</form>
<hr>
<h2>댓글목록</h2>
{% for comment in comments %}
<p>{{ comment.content }}</p>
{% endfor %}

<!-- {{ comment_form }} : 그냥 form d은 중괄호 두개 -->
{% endblock %}