{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>수정하기</h1>
    <form action="{% url 'posts:update' post.id %}">
    <!-- <form action="/posts/{{ post.id }}/update/" method="GET"> -->
      <div class="form-group">
        <label for="title">제목</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력해주세요" value="{{ post.title }}">
        <label for="content">내용</label>
        <textarea id="content" name="content" class="form-control" id="exampleFormControlTextarea1" rows="10">{{ post.content }}</textarea>
        <label for="img_url">이미지 URL</label>
        <input type="text" class="form-control" id="img_url" name="img_url" placeholder="사진 url을 입력해주세요" value="{{ post.img_url }}">
      </div>
      <button type="submit" class="btn btn-primary">수정하기</button>
    </form>
</div>
{% endblock %}