<nav class="sticky-top navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/index/">잡화점</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/index/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cube/">세제곱계산기</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lotto/">로또</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/">DTL 정리</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/artii/">Artii</a>
      </li>
    </ul>
  </div>
</nav>