{% extends 'base.html' %}
{% block body %}
<h1> create page </h1>
<div class="container">
  <form action="{% url 'posts:create' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="title">제목</label>
      <input type="text" class="form-control" id="title" name='title'>
    </div>
    <div class="form-group">
      <label for="textarea">내용을 입력하세요</label>
      <textarea class="form-control" id="textarea" rows="10" name='text'></textarea>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-success">작성</button>
    </div>
  </form>
</div>
{% endblock %}